@import "../../../shared/styles/variables.scss";

.related-news-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    border-top: 1px solid $third-light-gray-color;
    padding: 0.5rem 0;
    a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.375rem;
      color: $dark-blue-color;
    }
  }
}
