$dark-red-color: #c43442;
$white-color: #ffffff;
$black-color: #333333;
$dark-blue-color: #161829;
$second-dark-blue-color: #22273e;
$third-dark-blue-color: #363A51;
$light-blue-color: #c8cee5;

$dark-gray-color: #7D87AA;
$second-dark-gray-color: #7a95ab;
$light-gray-color: #f2f8ff;
$second-light-gray-color: #cccccc;
$third-light-gray-color: #e6e6e6;
$fourth-light-gray-color: #E4E7EA;